<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>378844571612-dq674kcug2ellov93cpfge86tv9pf6tv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.378844571612-dq674kcug2ellov93cpfge86tv9pf6tv</string>
	<key>API_KEY</key>
	<string>AIzaSyCr9WLDdKhMLVFlV5D4zrxgmlgwqDwS06I</string>
	<key>GCM_SENDER_ID</key>
	<string>378844571612</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pickle</string>
	<key>PROJECT_ID</key>
	<string>pickle-a8f2c</string>
	<key>STORAGE_BUCKET</key>
	<string>pickle-a8f2c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:378844571612:ios:ab0fec8cb4a4fed625d119</string>
</dict>
</plist>